{{! Render Blog Posts on the Blog Dashboard Page }}

<div class="container">
    <div class="row">
        <div class="card text-dark shadow mb-3">
            <div class="text-center mx-auto p-3">
                {{! Render the Blog Post Title, Author Username, Date Created, and Description }}
                <h2><a href="/blogPost/{{id}}">{{title}}</a></h2>
                    <p>Created by {{user.name}} on {{format_date date_created}}</p>
                        <p>{{description}}</p>
                {{! Render Edit and Delete Buttons }}
                <button class="btn btn-dark" data-id="{{id}}" id="editButton">Edit Post</button>
                <button class="btn btn-dark" data-id="{{id}}" id="deleteButton">Delete Post</button>
            </div>
        </div>
    </div>
</div>