{{! Dev Gab Blog Post Page}}

<div class="container">
    <div class="row">
        <div class="card text-dark shadow mb-3 blogPost_main">
            <div class="text-center mx-auto p-3">
                <h2>{{title}}</h2>
                <p>by {{user.name}} on {{format_date date_created}}</p>
                <p>{{description}}</p>
                <button class="btn btn-dark" id="edit_button">Edit</button>
                <button class="btn btn-dark" id="delete_button">Delete</button>
            </div>

            <div class="text-center">
                <h3>Comments</h3>
                {{#each comments as |comment| }}
                    <div>
                        <p>{{comment.comment_body}} by {{comment.user.name}} on {{format_date comment.date_created}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{!Link to commentForm.handlebars}}
{{> commentForm}}

<script src="/js/editBlogPost.js"></script>
<script src="/js/deleteBlogPost.js"></script>
<script src="/js/newComment.js"></script>