{{! Blog Dashboard }}

<div class="row">
    <div class="text-center mx-auto pt-2">
        <h2 class="dashboard_header">Dashboard</h2>        
    </div>
</div>

{{! Render User's Blog Posts}}
<div class="container">
    <div class="row text-center">
        <div class="col-md-10 mx-auto mt-4">
            {{#if posts.length}}
            {{#each posts}}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="card text-dark shadow mb-3">
                            <div class="text-center mx-auto p-3">
                                {{! Render the Blog Post Title, Author Username, Date Created, and Description }}
                                <h2><a href="/post/{{id}}">{{title}}</a></h2>
                                    <p>by {{user.name}} on {{format_date date_created}}</p>
                                        <p>{{content}}</p>
                                {{! Render Edit and Delete Buttons }}
                                <a href="/editpost/{{id}}" class="edit-link">
                                <button class="btn btn-dark" style="width: 120px" data-id="{{id}}" id="edit_button">Edit Post</button></a>
                                <button class="btn btn-dark delete_button" style="width: 120px" data-post-id="{{id}}" id="delete_post_button">Delete Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}

            {{else}}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="card shadow mb-3" style="width:50%">
                            <div class="text-center mx-auto p-3">
                                <h4 class="mt-1 mb-3">No posts yet...</h4>
            {{/if}}

                                {{! Create New Post Button}}
                                <div class="container">
                                    <div class="row text-center">
                                        <a href="/newpost"><button class="btn btn-dark mt-3">Create a post!</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>