{{! Dev Gab Homepage }}

{{! Display Each Blog Post }}
<div class="container">
    <div class="row homepage-main">
        {{#each posts}}
            <div class="row mb-4 project card text-dark shadow">
                <div class="card-header">
                    <h3>
                        <a href="/post/{{id}}">{{title}}</a>
                    </h3>
                    <p>by {{user.name}}, on {{format_date date_created}}</p>
                </div>
                <div class="card-body"> 
                    <p>{{content}}</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>